<launch>
  <arg name="config" default="$(find piper_vr_teleop)/configs/dual_piper.yaml" />
  <arg name="dry_run" default="true" />
  <node pkg="piper_vr_teleop" type="dual_movep_teleop.py" name="piper_vr_dual" output="screen">
    <param name="config" value="$(arg config)" />
    <param name="dry_run" value="$(arg dry_run)" />
  </node>
</launch>
